version: "3.3"

services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/usr/src/myapp
      - /home/user/.cache/bazel_docker:/home/user/.cache/bazel_docker

    network_mode: "host"
    # restart: always
    environment:
      DISPLAY: $DISPLAY
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
    privileged: true
    # stdin_open: true # docker run -i
    # tty: true        # docker run -t
    # command: ["/bin/bash"]
